<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addIncome(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-6 flex-column">
          <label for="name">Name</label>
          <label for="amount">Amount</label>
          <label for="description">Description</label>
        </div>
        <div class="col-sm-6 flex-column">
          <input type="text" name="name" id="name" ngModel required>
          <input type="number" name="amount" id="amount" ngModel required pattern="^[1-9]+[0-9]*$">
          <input type="text" name="description" id="description" ngModel required>        
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 vcenter">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>