<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="5" class="centerText">Incomes</th>
            </tr>
            <tr>
              <th class="centerText">Name</th>
              <th class="centerText">Amount</th>
              <th class="centerText">Description</th>
              <th colspan="2" class="centerText">Manage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let income of incomes">
              <td class="centerText">{{income.name}}</td>
              <td class="centerText">{{income.value}}</td>
              <td class="centerText">{{income.description}}</td>
              <td>
                <button class="btn btn-primary full-width">Edit</button>
              </td>
              <td>
                <button class="btn btn-danger full-width" (click)="deleteItemFromIncomes(income.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-xl-6">
        <table class="table table-bordered">
          <thead >
            <tr>
              <th colspan="5" class="centerText">Outcomes</th>
            </tr>
            <tr>
              <th class="centerText">Name</th>
              <th class="centerText">Amount</th>
              <th class="centerText">Description</th>
              <th colspan="2" class="centerText">Manage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let outcome of outcomes">
              <td class="centerText">{{outcome.name}}</td>
              <td class="centerText">{{outcome.value}}</td>
              <td class="centerText">{{outcome.description}}</td>
              <td>
                <button 
                  class="btn btn-primary full-width"
                  (click)="editOutcome(id)">Edit
                </button>
              </td>
              <td>
                <button 
                  class="btn btn-danger full-width" 
                  (click)="deleteItemFromOutcomes(outcome.id)">Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<hr>

<div class="flex-row">
  <app-modal></app-modal>
</div>
